{% extends "template.twig" %}

{% block body %}
<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">
        Enviar SMS
    </h2>

    <!--<div class="right menu">
        <a class="ui active item">
        Lista
        </a>
        <a class="ui disabled item">
        Transactions
        </a>
    </div>-->
</div>
<div class="sixteen wide sales column">
    <form class="ui form" id="example-form" name="my-form" action="{{ path_for('enviarMensagemRapida')}}" method="POST"> 
       
        <h4 class="ui dividing header">Enviar Mensagem</h4>
        
        <div class="two fields">
            <div class="field">
                <label>Número</label>
                <input type="text" id="phone-number" name="telefone" type="text" placeholder="(XX)XXXX-XXXX" maxlength="13" tabindex="1" required>
            </div>
            <div class="field">
                <label>Canal</label>
                <div class="field">
                    <select class="ui fluid search dropdown" tabindex="2" name="interface" value="" required>
                        {% for channel in channels %}
                            <option value="{{ channel.ID }}">{{ channel.ID }} </option>
                        {% endfor %}        
                    </select>
                </div>
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <div class="ui toggle checkbox">
                    <label>Salvar número?</label>
                    <input type="checkbox" name="gift" class="hidden">
                </div>
            </div>
            <div class="field"> 
                <input type="text" name="" maxlength="16" id="nome" class="hidden" placeholder="Nome">
            </div>
        </div>

        <div class="field">
            <label>Messagem</label>
            <textarea tabindex="2" name="mensagem" maxlength="180" required></textarea>
        </div>
        <button class="ui button" tabindex="3" type="submit" value="Submit">Enviar</button>
    </form>
</div>

{% endblock %}

